{% extends 'base.html.twig' %}
{% block pageTitle %}{{ 'View model ID: ' ~ model.id ~ '(' ~  model.name ~ ' ' ~ model.surname ~ ' - CIN: ' ~ model.cinNumber ~')' }}{% endblock %}
{% block body %}
    <div class="container">

        <div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Param</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <th scope="row">{{ model.id }}</th>
                    </tr>
                    <tr>

                        <th scope="row">Name</th>
                        <td><strong>{{ model.name }} {{ model.surname }}
                                | {{ model.cinNumber }}</td>
                    </tr>
                    <tr>

                        <th scope="row">Email</th>
                        <td>{{ model.email }}</td>
                    </tr>

                    <tr>

                        <th scope="row">Phone</th>
                        <td>{{ model.phone }}</td>
                    </tr>

                    <tr>

                        <th scope="row">CIN</th>
                        <td>{{ model.cinNumber }}</td>
                    </tr>

                    <tr>

                        <th scope="row">VAT ID</th>
                        <td>{{ model.taxNumber }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}